.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
}
.head-cv {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(45deg, #eef0ea, #acce32);
}
.navigation {
  height: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}
.anchors li {
  float: left;
  list-style-type: none;
  padding-left: 30px;
}
.anchors li a {
  text-decoration: none;
  color: #7a1b38;
  text-transform: uppercase;
}
/*.who {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url(45degreee_fabric.png);
}
.who::after {
  clear: both;
  display: block;
  content: "";
  overflow: hidden;
  height: 0;
}
.photo img {
  margin-left: 300px;
  float: left;
}
.basic-name-line{

}
.main-content-name {
  float: left;
  margin-left: 200px;
}
*/
